<div class="page-header bg gradient-01">
    <div class="container-fluid">
    <div class="row">
      <div class="top-bar clearfix">
        <div class="back-home pull-left">
          <a href="/portfolios"><span class="ti-angle-left"></span> back to portfolio</a>
        </div>
        <ul class="breadcrumb pull-right">
          <li><a href="/"><span class="ti-home"></span> Home</a></li>
          <li class="active">Portfolio</li>
        </ul>
      </div>
      <div class="page-header-title">
         <h1>Portfolio</h1>
         <span>By <%=@portfolio.author%> </span>
      </div>
     </div>
  </div>
</div>
