<section class="single-portfolio-post page-section-pt">
  <div class="container-fluid">
     <div class="row">
      <div class="col-lg-6 col-md-6">
           <div class="owl-carousel-1">
              <div class="item">
                 <img src="<%=@portfolio.image%>" alt="">
              </div>
              <div class="item">
                 <img src="<%=@portfolio.image%>" alt="">
              </div>
              <div class="item">
                 <img src="<%=@portfolio.image%>" alt="">
              </div>
           </div>
      </div>
      <div class="col-lg-5 col-md-5 clearfix">
         <div class="port-title">
            <h2><%=@portfolio.title%></h2>
         </div>
          <div class="tags-2">
            <h5>Category: </h5>
            <ul>
              <li><a href="/categoryportfolios/<%=@portfolio.categoryportfolio.categoryname%>"><%=@portfolio.categoryportfolio.categoryname%></a></li>
            </ul>
          </div>
          <div class="port-meta clearfix">
            <ul>
              <li><b>Release:</b><span><%=@portfolio.post_date%> </span></li>
              <li><b>Client:</b><span><%=@portfolio.client%></span></li>
              <li><b>Live Demo: </b><span><%=@portfolio.livedemo%></span></li>
              <li><b>Skills: </b><span><%=@portfolio.skill%></span></li>
            </ul>
          </div>
          <div class="port-info">
              <p><%=@portfolio.description%></p>
           </div>
       </div>
    </div>
  <!--=================================-->

 <!--=================================-->
  </div>
</section>

<!--=================================
  single portfolio -->
