<%=render "shared/categoryportfolio/header"%>

  <div class="page-header bg gradient-01">
      <div class="container-fluid">
      <div class="row">
        <div class="top-bar clearfix">
          <div class="back-home pull-left">
            <a href="/portfolios"><span class="ti-angle-left"></span> back to portfolio</a>
          </div>
          <ul class="breadcrumb pull-right">
            <li><a href="/"><span class="ti-home"></span> Home</a></li>
            <li class="active">Category Portfolio</li>
          </ul>
        </div>
        <div class="page-header-title">
           <h1>Categories <%=@categoryportfolio.categoryname%></h1>
           <%@portfolios.limit(1).each do |port|%>
            <span>By <%=port.author%></span>
           <%end%>
        </div>
       </div>
    </div>
  </div>

<%=render "shared/categoryportfolio/categoryportfoliodetail"%>
