<%@searchengines.each do |search|%>
<% title search.title%>
<% meta_description strip_tags(search.description) %>
<%end%>
<!--=================================
  loading -->
<%=render "shared/blog/header"%>

<!--=================================
  header -->

<!--=================================
  header -->


<!--=================================
  intro -->
<%=render "shared/blog/intro"%>

<!--=================================
  intro -->


<!--=================================
  blog -->
<%=render "shared/blog/blog"%>
<!--=================================
  blog -->


<!--=================================
 contact -->


<!--=================================
 contact -->


 <!--=================================
 color customizer -->
