<% title @blog.title%>
<% meta_description strip_tags(@blog.description)%>
<!--=================================
  loading -->


<!--=================================
  header -->

<!--=================================
  header -->


<!--=================================
  intro -->
<%=render "shared/single/intro"%>

<!--=================================
intro -->


<!--=================================
  blog -->
<%=render "shared/single/singleblog"%>
<!--=================================
 blog -->



<!--=================================
 contact -->


<!--=================================
 contact -->


  <!--=================================
 color customizer -->
