<section class="blog blog-page white-bg page-section">
 <div class="container-fluid">

  <div class="row">
    <%@blogs.each do |blog|%>
       <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="blog-block">
           <div class="blog-image">
             <img class="img-responsive" src="<%=blog.image%>" alt="">
             <div class="blog-date">
              <span><%=blog.post_date%></span>
             </div>
          </div>
          <div class="blog-info">
            <div class="blog-meta">
              <p><span class="ti-user"></span> <a href="#"><%=blog.author%> </a></p>
              <p><span class="ti-folder"></span> <%=link_to blog.categoryblog.categoryname,blog.categoryblog%></p>
            </div>
            <div class="blog-content">
              <%=link_to blog.title,blog%>
              <p><%=raw blog.description.truncate(150)%></p>
              <div class="blog-bottom clearfix">
               <div class="button-small">
                <%=link_to("Read More",blog)%>
                </div>
              <div class="social pull-right">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                </ul>
              </div>
             </div>
            </div>
          </div>
       </div>
      </div>
    <%end%>
  </div>
 <!-- <div class="row">
   <div class="col-lg-12 col-md-12 text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
   </div>
  </div> -->
 </div>
</section>
