@charset "UTF-8";
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/* line 3, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 9, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
body {
  margin: 0;
}

/* line 13, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 28, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/* line 35, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 40, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
progress {
  vertical-align: baseline;
}

/* line 44, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
template,
[hidden] {
  display: none;
}

/* line 49, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 54, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* line 59, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 65, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
b,
strong {
  font-weight: inherit;
}

/* line 70, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
b,
strong {
  font-weight: bolder;
}

/* line 75, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
dfn {
  font-style: italic;
}

/* line 79, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 84, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/* line 89, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
small {
  font-size: 80%;
}

/* line 93, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 101, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 105, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
sup {
  top: -0.5em;
}

/* line 109, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
img {
  border-style: none;
}

/* line 113, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 117, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 125, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
figure {
  margin: 1em 40px;
}

/* line 129, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 135, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

/* line 143, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 147, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
button,
input {
  overflow: visible;
}

/* line 152, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 157, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 164, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* line 172, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* line 179, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 185, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/* line 194, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
textarea {
  overflow: auto;
}

/* line 198, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 204, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 209, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 214, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 219, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/* line 224, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_reset.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_core.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 7, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_core.scss */
html,
body {
  min-height: 100%;
}

/* line 12, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_core.scss */
body {
  background-color: #eeeeee;
  color: #3f3f3f;
  font: normal 16px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-smoothing: antialiased;
}

/* line 19, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_core.scss */
a {
  color: inherit;
}

/* line 23, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_core.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font: bold 1em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.3;
}

/* line 33, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_core.scss */
::selection {
  background-color: rgba(77, 82, 86, 0.5);
  color: #ffffff;
}

/* line 39, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_core.scss */
#wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_box.scss */
div.active_admin_comment, form fieldset.inputs, .index_as_blog .banner, .ui-dialog, .panel,
.sidebar_section, table.index_table, body.logged_out #active_admin_content {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_button.scss */
a.button,
a.button:link,
a.button:visited,
a.clear_filters_btn,
.cancel a,
input[type='submit'],
input[type='button'],
button, .dropdown_menu_button:not(.disabled) {
  background-color: #f9f9f9;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer;
}
/* line 9, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_button.scss */
a.button:focus,
a.clear_filters_btn:focus,
.cancel a:focus,
input[type='submit']:focus,
input[type='button']:focus,
button:focus, .dropdown_menu_button:focus:not(.disabled), a.button:hover,
a.clear_filters_btn:hover,
.cancel a:hover,
input[type='submit']:hover,
input[type='button']:hover,
button:hover, .dropdown_menu_button:hover:not(.disabled) {
  background: #ffffff;
}
/* line 14, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_button.scss */
a.button:focus,
a.clear_filters_btn:focus,
.cancel a:focus,
input[type='submit']:focus,
input[type='button']:focus,
button:focus, .dropdown_menu_button:focus:not(.disabled) {
  box-shadow: inset 0 0 3px #cccccc;
}

/* line 19, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_button.scss */
input[type='submit'], .ui-dialog .ui-dialog-buttonpane button:first-of-type {
  background-color: #7a7d80;
  background-image: linear-gradient(to bottom, #7a7d80, #4d5256);
  border-color: #3a3e41;
  color: #ffffff;
}
/* line 25, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_button.scss */
input[type='submit']:hover, .ui-dialog .ui-dialog-buttonpane button:hover:first-of-type {
  background: #3e4245;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_drag.scss */
.drag {
  cursor: move;
}
/* line 4, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_drag.scss */
.drag img {
  opacity: 0.5;
  transition: opacity 250ms;
}
/* line 9, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_drag.scss */
.drag:hover img {
  opacity: 1;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_header.scss */
form legend span, .index_as_blog .banner h3, .ui-dialog .ui-dialog-titlebar, .panel h3,
.sidebar_section h3, table.index_table thead th, .tabs .nav-tabs, body.logged_out h2 {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  box-shadow: inset 0 1px 0 #ffffff;
  border-bottom: 1px solid #cccccc;
  padding: 12px 15px;
}
@media only screen and (max-width: 480px) {
  /* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_header.scss */
  form legend span, .index_as_blog .banner h3, .ui-dialog .ui-dialog-titlebar, .panel h3,
  .sidebar_section h3, table.index_table thead th, .tabs .nav-tabs, body.logged_out h2 {
    text-align: center;
  }
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_input.scss */
form input[type='text'],
form input[type='password'],
form input[type='email'],
form input[type='number'],
form input[type='url'],
form input[type='tel'],
form input[type='date'],
form textarea {
  appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid rgba(204, 204, 204, 0.75);
  border-radius: 4px;
  outline: 0;
  padding: 10px 12px;
  transition: border-color 250ms, box-shadow 250ms;
  width: 100%;
}
/* line 12, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_input.scss */
form input[type='text']:focus,
form input[type='password']:focus,
form input[type='email']:focus,
form input[type='number']:focus,
form input[type='url']:focus,
form input[type='tel']:focus,
form input[type='date']:focus,
form textarea:focus {
  border-color: rgba(77, 82, 86, 0.5);
  box-shadow: 0 0 5px rgba(77, 82, 86, 0.25);
}
/* line 16, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_input.scss */
form input[type='text']:focus ~ .inline-hints,
form input[type='password']:focus ~ .inline-hints,
form input[type='email']:focus ~ .inline-hints,
form input[type='number']:focus ~ .inline-hints,
form input[type='url']:focus ~ .inline-hints,
form input[type='tel']:focus ~ .inline-hints,
form input[type='date']:focus ~ .inline-hints,
form textarea:focus ~ .inline-hints {
  color: #3f3f3f;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_menu-button.scss */
.menu-button {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  color: #ffffff;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 0;
}
/* line 11, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_menu-button.scss */
.menu-button i {
  display: inline-block;
  width: 100%;
}
/* line 15, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_menu-button.scss */
.menu-button i, .menu-button i:before, .menu-button i:after {
  background-color: currentColor;
  border-radius: 500rem;
  height: 4px;
  left: 0;
  position: relative;
  transition: all 250ms;
  width: 20px;
}
/* line 27, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_menu-button.scss */
.menu-button i:before, .menu-button i:after {
  content: '';
  position: absolute;
}
/* line 33, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_menu-button.scss */
.menu-button i:before {
  top: -8px;
}
/* line 37, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_menu-button.scss */
.menu-button i:after {
  bottom: -8px;
}
/* line 43, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_menu-button.scss */
.opened-menu .menu-button i {
  background-color: transparent;
}
/* line 46, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_menu-button.scss */
.opened-menu .menu-button i:before {
  top: 0;
  transform: rotateZ(45deg);
}
/* line 51, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_menu-button.scss */
.opened-menu .menu-button i:after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/atoms/_turbolinks.scss */
.turbolinks-progress-bar {
  background-color: #4d5256;
  border-radius: 0 500rem 500rem 0;
  bottom: 0;
  position: fixed;
  height: 3px;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_footer.scss */
#footer.footer {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 1;
  margin-top: 20px;
  padding: 20px 30px;
  text-align: center;
}
/* line 11, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_footer.scss */
#footer.footer p {
  margin: 0;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header {
  align-items: center;
  background-color: rgba(77, 82, 86, 0.95);
  backdrop-filter: blur(3px);
  display: flex;
  color: #ffffff;
  height: 50px;
  position: fixed;
  text-shadow: #000000 0 1px 0;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 10;
}
/* line 15, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .site_title {
  font-weight: bold;
  margin: 0 20px 0 0;
  padding: 0 30px;
}
/* line 21, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header #site_title_image {
  display: block;
  height: 30px;
}
/* line 27, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item,
#header.header .header-item ul {
  margin: 0;
  padding: 0;
}
/* line 33, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  transition: background 250ms, color 250ms;
}
/* line 39, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item li {
  font-size: 14px;
  list-style: none;
  position: relative;
}
/* line 45, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item > li {
  display: inline-block;
  margin: 10px 5px 10px 0;
}
/* line 49, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item > li.current > a, #header.header .header-item > li:hover > a {
  background: #7a7d80;
  color: #ffffff;
}
/* line 55, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item > li > a {
  border-radius: 4px;
  padding: 5px 10px;
}
/* line 61, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item > li.has_nested > a:before {
  border: 3px solid transparent;
  border-bottom: 0;
  border-top-color: rgba(255, 255, 255, 0.5);
}
/* line 67, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item > li.has_nested:hover > a:before, #header.header .header-item > li.has_nested.current > a:before {
  border-left-color: transparent;
  border-top-color: #4d5256;
}
/* line 74, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item > li .has_nested > ul {
  right: -100%;
  top: 0;
}
/* line 80, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item ul {
  background: #7a7d80;
  border-radius: 0 4px 4px 4px;
  height: 0;
  max-width: calc(100% + 20px);
  min-width: 175px;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  transform: scale(0);
  transform-origin: left top;
  transition: opacity 250ms, transform 250ms;
  width: 20%;
  z-index: 11;
}
/* line 95, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item ul a {
  display: block;
  padding: 5px 10px;
  transition: all 250ms;
}
/* line 101, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item ul li:hover > a,
#header.header .header-item ul a:hover {
  background-color: rgba(77, 82, 86, 0.5);
  color: #ffffff;
}
/* line 109, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item .has_nested:hover > ul {
  height: auto;
  opacity: 1;
  transform: scale(1);
}
/* line 115, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item .has_nested > a {
  padding-right: 23px;
  position: relative;
}
/* line 119, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item .has_nested > a:before {
  border: 3px solid transparent;
  border-right: 0;
  border-left-color: rgba(255, 255, 255, 0.5);
  content: '';
  position: absolute;
  top: 50%;
  transition: border-color 250ms;
  right: 10px;
}
/* line 131, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .header-item .has_nested:hover > a:before, #header.header .header-item .has_nested.current > a:before {
  border-left-color: #4d5256;
}
/* line 138, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header #tabs {
  width: 100%;
}
/* line 142, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header #utility_nav {
  color: #cccccc;
  margin: 0;
  padding: 0 20px 0 0;
  text-align: right;
  transition: color 250ms;
  white-space: nowrap;
  width: 100%;
}
/* line 151, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header #utility_nav a {
  text-decoration: none;
}
/* line 154, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header #utility_nav a:hover {
  color: #ffffff;
}
/* line 159, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header #utility_nav li {
  display: inline;
}
/* line 162, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header #utility_nav li:not(#current_user) {
  opacity: 0.75;
  transition: opacity 250ms;
}
/* line 166, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header #utility_nav li:not(#current_user):hover {
  opacity: 1;
}
/* line 173, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
#header.header .menu-button {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* line 179, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header #tabs,
  #header.header #utility_nav {
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    transform: translateY(calc(-100% - 90px));
    transition: transform 250ms;
  }
  /* line 189, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header #utility_nav {
    background-color: #4d5256;
    height: 40px;
    padding: 11px 0;
    text-align: center;
    top: 50px;
  }
  /* line 197, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header #tabs {
    background-color: rgba(77, 82, 86, 0.95);
    max-height: calc(100vh - 85px);
    overflow: auto;
    top: 90px;
  }
  /* line 203, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header #tabs li {
    display: block;
    float: none;
    margin: 0;
    padding: 5px 15px;
    width: 100%;
  }
  /* line 210, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header #tabs li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  /* line 215, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header #tabs a {
    display: block;
  }
  /* line 220, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header .site_title {
    padding: 0 15px;
  }
  /* line 224, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header .header-item ul {
    background: transparent;
    height: auto;
    max-width: 100%;
    opacity: 1;
    margin-left: 5px;
    position: static;
    transform: scale(1);
    width: 100%;
  }
  /* line 234, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header .header-item ul li {
    border: 0 !important;
    padding: 0 !important;
  }
  /* line 238, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header .header-item ul li a:before {
    display: inline;
    content: '↳';
    margin-right: 5px;
  }
  /* line 246, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  #header.header .menu-button {
    display: block;
    margin-left: auto;
    margin-right: 15px;
    margin-top: -5px;
  }
  /* line 254, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_header.scss */
  .opened-menu #header.header #tabs,
  .opened-menu #header.header #utility_nav {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
#active_admin_content {
  padding: 30px 30px 0;
  flex: 1;
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
#active_admin_content:after {
  clear: both;
  content: '';
  display: table;
}
/* line 7, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
#active_admin_content #main_content_wrapper {
  float: left;
  width: 100%;
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
#active_admin_content #main_content_wrapper:after {
  clear: both;
  content: '';
  display: table;
}
/* line 15, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
#active_admin_content.with_sidebar #main_content {
  margin-right: 300px;
}
/* line 19, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
#active_admin_content #sidebar {
  float: left;
  margin-left: -270px;
  width: 270px;
}
/* line 24, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
#active_admin_content #sidebar .panel_contents {
  padding: 0;
}
/* line 27, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
#active_admin_content #sidebar .panel_contents > div {
  padding: 15px;
}
@media only screen and (max-width: 767px) {
  /* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
  #active_admin_content {
    padding: 15px 15px 0;
  }
  /* line 37, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
  #active_admin_content.with_sidebar #main_content {
    margin-right: 0;
  }
  /* line 41, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
  #active_admin_content #main_content_wrapper {
    float: none;
  }
  /* line 45, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_main.scss */
  #active_admin_content #sidebar {
    float: none;
    margin-left: 0;
    margin-top: 40px;
    width: 100%;
  }
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: table;
  margin-top: 50px;
  padding: 20px 30px;
  width: 100%;
}
/* line 10, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar #page_title {
  font-size: 42px;
  font-weight: 100;
  line-height: 1;
  margin: 0;
}
/* line 17, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar #titlebar_left,
.title_bar #titlebar_right {
  display: table-cell;
  vertical-align: middle;
}
/* line 23, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar #titlebar_right {
  text-align: right;
}
/* line 26, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar #titlebar_right .action_item {
  display: inline-block;
}
/* line 29, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar #titlebar_right .action_item a {
  border: 2px solid rgba(77, 82, 86, 0.25);
  border-radius: 4px;
  color: rgba(77, 82, 86, 0.75);
  display: block;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms;
}
/* line 40, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar #titlebar_right .action_item a:hover {
  border-color: #4d5256;
  color: #4d5256;
}
/* line 48, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar .breadcrumb {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 53, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar .breadcrumb a {
  opacity: 0.75;
  text-decoration: none;
}
/* line 57, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar .breadcrumb a:hover {
  text-decoration: underline;
}
/* line 62, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
.title_bar .breadcrumb .breadcrumb_sep {
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  /* line 69, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
  .title_bar #page_title {
    word-break: keep-all;
  }
  /* line 73, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
  .title_bar #titlebar_left,
  .title_bar #titlebar_right {
    display: block;
    text-align: center;
  }
  /* line 79, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
  .title_bar #titlebar_right {
    margin-top: 10px;
  }
  /* line 83, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/layouts/_title-bar.scss */
  .title_bar .action_item a {
    margin: 2px 0;
  }
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_blank.scss */
.blank_slate_container {
  text-align: center;
}
/* line 4, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_blank.scss */
.blank_slate_container .blank_slate {
  border: 1px dashed #cccccc;
  border-radius: 4px;
  color: rgba(63, 63, 63, 0.75);
  display: inline-block;
  margin-top: 80px;
  padding: 50px 100px;
  text-align: center;
}
/* line 14, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_blank.scss */
.blank_slate_container span,
.blank_slate_container small {
  display: block;
  line-height: 1.5;
}
@media only screen and (max-width: 480px) {
  /* line 22, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_blank.scss */
  .blank_slate_container .blank_slate {
    margin: 40px 0;
    padding: 15px;
  }
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_button.scss */
a.button,
a:link.button,
a:visited.button,
a.clear_filters_btn,
.cancel a,
input[type='submit'],
input[type='button'],
button {
  display: inline-block;
  font-size: 14px;
  outline: 0;
  padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  transition: background 250ms, box-shadow 250ms;
  user-select: none;
  vertical-align: middle;
}

/* line 25, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_button.scss */
a.member_link {
  margin-right: 7px;
  white-space: nowrap;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
.comments .empty {
  display: block;
  margin: 20px 0;
  opacity: 0.5;
  text-align: center;
}

/* line 8, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
div.active_admin_comment {
  align-items: stretch;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 18, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
form.active_admin_comment li,
form.active_admin_comment .inputs {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 25, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
form.active_admin_comment .hidden {
  display: none;
}
/* line 29, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
form.active_admin_comment textarea {
  border-color: #cccccc;
  display: block;
  float: none;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

/* line 39, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
.active_admin_comment_meta {
  background-color: #f2f2f2;
  border-right: 1px solid #cccccc;
  padding: 15px;
  width: 200px;
}
/* line 45, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
.active_admin_comment_meta .active_admin_comment_author {
  margin: 0;
}
/* line 49, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
.active_admin_comment_meta span {
  font-size: 12px;
}
/* line 53, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
.active_admin_comment_meta a[data-method='delete'] {
  border: 1px solid #a61a14;
  border-radius: 4px;
  color: #a61a14;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  margin-top: 10px;
  opacity: 0.5;
  padding: 2px 3px;
  text-decoration: none;
  transition: opacity 250ms;
}
/* line 66, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
.active_admin_comment_meta a[data-method='delete']:hover {
  opacity: 1;
}

/* line 72, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
.active_admin_comment_body {
  padding: 15px;
}
/* line 75, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
.active_admin_comment_body p {
  margin: 0;
}
/* line 78, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_comments.scss */
.active_admin_comment_body p + p {
  margin-top: 1em;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker {
  background-color: rgba(77, 82, 86, 0.75);
  backdrop-filter: blur(3px);
  border-radius: 4px;
  color: #ffffff;
  margin-top: 2px;
}
/* line 8, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker a {
  color: inherit;
  text-decoration: none;
}

/* line 14, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-header,
.ui-datepicker-calendar {
  padding: 5px;
  text-align: center;
}

/* line 20, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* line 24, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-title {
  font-weight: bold;
}

/* line 28, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-prev,
.ui-datepicker-next {
  cursor: pointer;
}
/* line 32, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-prev .ui-icon,
.ui-datepicker-next .ui-icon {
  display: none;
}
/* line 36, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-prev:before,
.ui-datepicker-next:before {
  border: 5px solid transparent;
  content: '';
  height: 0;
  position: absolute;
  top: 10px;
  transition: border-color 250ms;
  width: 0;
}

/* line 48, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-prev:before {
  border-left-width: 0;
  border-right-color: rgba(255, 255, 255, 0.5);
  left: 10px;
}
/* line 54, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-prev:hover:before {
  border-right-color: #ffffff;
}

/* line 60, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-next:before {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-width: 0;
  right: 10px;
}
/* line 66, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-next:hover:before {
  border-left-color: #ffffff;
}

/* line 71, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-calendar {
  font-size: 14px;
}
/* line 74, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-calendar a:hover {
  transition: background-color 250ms;
}
/* line 78, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-calendar .ui-state-default {
  border-radius: 4px;
  padding: 1px 2px;
}
/* line 82, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-calendar .ui-state-default:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 87, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-calendar .ui-state-active {
  background-color: #ffffff;
  color: #4d5256;
}
/* line 92, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-calendar .ui-state-highlight {
  background-color: rgba(255, 255, 255, 0.5);
  color: #4d5256;
}
/* line 96, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_datepicker.scss */
.ui-datepicker-calendar .ui-state-highlight:hover {
  background-color: #ffffff;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu {
  display: inline-block;
}

/* line 5, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_button {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  transition: all 250ms;
}
/* line 16, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_button:after {
  border-color: currentColor transparent;
  border-style: solid;
  border-width: 3px 3px 0;
  content: '';
  display: inline-block;
  height: 0;
  margin-left: 10px;
  position: relative;
  top: -3px;
  width: 0;
}
/* line 29, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_button.disabled {
  color: #cccccc;
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 38, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_button:not(.disabled) + .dropdown_menu_list_wrapper {
  animation: scale-up 250ms forwards;
}

/* line 44, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_list_wrapper {
  font-size: 14px;
  opacity: 0;
  position: absolute;
  transform-origin: center top;
  z-index: 20;
}

/* line 52, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_nipple {
  background-color: #4d5256;
  height: 6px;
  position: absolute;
  top: -2px;
  transform: rotate(45deg);
  width: 6px;
  z-index: 21;
}

/* line 62, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_list {
  background-color: #ffffff;
  border: 2px solid #4d5256;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(204, 204, 204, 0.75);
  list-style: none;
  overflow: hidden;
  position: relative;
  z-index: 22;
}
/* line 72, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_list li + li {
  border-top: 1px solid #cccccc;
}
/* line 76, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_list a {
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: background-color 250ms;
  white-space: nowrap;
}
/* line 84, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_dropdown.scss */
.dropdown_menu_list a:hover {
  background-color: #f2f2f2;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_flash.scss */
.flash {
  background-color: #f2f7fb;
  background-image: linear-gradient(to bottom, #e6eff7, #d9e7f3);
  border: 1px solid rgba(0, 95, 178, 0.5);
  border-width: 0 0 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #005fb2;
  font-size: 90%;
  font-weight: bold;
  padding: 15px 30px;
  position: relative;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  transition: border-color 250ms;
}
/* line 15, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_flash.scss */
.flash:hover {
  border-color: #005fb2;
}
/* line 19, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_flash.scss */
.flash.flash_notice {
  background-color: #f2f9f6;
  background-image: linear-gradient(to bottom, #e6f3ed, #d9ede4);
  border-color: rgba(4, 132, 75, 0.5);
  color: #04844b;
}
/* line 25, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_flash.scss */
.flash.flash_notice:hover {
  border-color: #04844b;
}
/* line 30, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_flash.scss */
.flash.flash_error,
.flash .flash_alert {
  background-color: #fbf4f3;
  background-image: linear-gradient(to bottom, #f6e8e8, #f2dddc);
  border-color: rgba(166, 26, 20, 0.5);
  color: #a61a14;
}
/* line 37, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_flash.scss */
.flash.flash_error:hover,
.flash .flash_alert:hover {
  border-color: #a61a14;
}

/* line 4, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form ul,
form ol,
form li,
form fieldset,
form legend,
form input,
form select,
form p {
  margin: 0;
  padding: 0;
}
/* line 16, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form ol,
form li {
  list-style: none;
}
/* line 21, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form fieldset {
  border: 0;
  margin-bottom: 20px;
  position: relative;
}
/* line 30, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form fieldset.actions {
  margin: 0;
}
/* line 33, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form fieldset.actions ol {
  margin: 0;
  text-align: center;
}
/* line 38, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form fieldset.actions li {
  display: inline-block;
  border-top: none;
  margin-right: 15px;
  padding: 0;
}
/* line 47, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form legend {
  display: block;
  left: -1px;
  position: relative;
}
/* line 52, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form legend,
form legend span {
  width: calc(100% + 2px);
}
/* line 57, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form legend span {
  border: 1px solid #cccccc;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  display: block;
}
/* line 66, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form ol {
  margin: 10px 0;
}
/* line 70, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form ol > li {
  border-bottom: 1px solid rgba(204, 204, 204, 0.25);
  padding: 10px 15px;
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
form ol > li:after {
  clear: both;
  content: '';
  display: table;
}
/* line 75, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form ol > li label {
  color: #5c5c5c;
  float: left;
  font-weight: bold;
  width: 20%;
}
/* line 81, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form ol > li label abbr[title] {
  border: none;
  color: #a61a14;
  opacity: 0.5;
  padding-left: 2px;
  text-decoration: none;
}
/* line 90, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form ol > li:last-of-type {
  border-bottom: none;
}
/* line 96, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form hr {
  background-color: rgba(204, 204, 204, 0.25);
  background-image: linear-gradient(to right, transparent, rgba(77, 82, 86, 0.5), transparent);
  border: 0;
  clear: both;
  float: left;
  height: 1px;
  margin: 10px 0 -11px;
  width: 100%;
}
/* line 108, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form input[type='text'],
form input[type='password'],
form input[type='email'],
form input[type='number'],
form input[type='url'],
form input[type='tel'],
form input[type='date'],
form textarea {
  float: right;
  width: calc(80% - 20px);
}
/* line 121, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form textarea {
  height: 100px;
  max-height: 200px;
  min-height: 75px;
  resize: vertical;
  vertical-align: top;
}
/* line 129, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  outline: none;
  position: relative;
  transition: border 250ms 150ms, padding 250ms;
  width: 37px;
  vertical-align: top;
}
/* line 143, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form input[type='checkbox']:after {
  background-color: #f9f9f9;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border: 1px solid #adadad;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  content: '';
  cursor: pointer;
  display: block;
  height: 20px;
  left: -1px;
  position: absolute;
  right: 16px;
  top: -1px;
  transition: border 250ms 150ms, left 250ms 100ms, right 150ms 175ms;
}
/* line 160, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form input[type='checkbox']:checked {
  border-color: #04844b;
  box-shadow: inset 0 0 0 13px #04844b;
  padding-left: 18px;
  transition: border 250ms, box-shadow 250ms, padding 250ms 150ms;
}
/* line 166, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form input[type='checkbox']:checked:after {
  border-color: #04844b;
  left: 16px;
  right: -1px;
  transition: border 250ms, left 150ms 250ms, right 250ms 175ms;
}
/* line 175, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form input[type='file'],
form select {
  margin-left: 20px;
}
/* line 183, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .date_select fieldset,
form .time_select fieldset,
form .datetime_select fieldset {
  margin: 0;
}
/* line 186, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .date_select fieldset ol,
form .time_select fieldset ol,
form .datetime_select fieldset ol {
  margin: 0 0 0 calc(20% + 20px);
}
/* line 190, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .date_select fieldset ol > li,
form .time_select fieldset ol > li,
form .datetime_select fieldset ol > li {
  border-top: none;
  float: left;
  margin-right: 5px;
  padding: 0;
  width: auto;
}
/* line 197, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .date_select fieldset ol > li label,
form .time_select fieldset ol > li label,
form .datetime_select fieldset ol > li label {
  display: none;
}
/* line 201, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .date_select fieldset ol > li select,
form .time_select fieldset ol > li select,
form .datetime_select fieldset ol > li select {
  margin-left: 0;
}
/* line 208, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .hidden {
  display: none;
}
/* line 213, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .inline-hints,
form .inline-errors {
  clear: both;
  font-size: 14px;
  margin: 0 0 0 calc(20% + 20px);
  padding-top: 2px;
}
/* line 221, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .inline-hints {
  color: rgba(63, 63, 63, 0.5);
  transition: color 250ms;
}
/* line 225, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .inline-hints img {
  border-radius: 4px;
  margin-top: 10px;
}
/* line 231, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .inline-errors {
  color: #a61a14;
}
/* line 236, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .boolean label {
  font-weight: normal;
  padding-left: calc(20% + 20px);
  width: 100%;
}
/* line 241, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .boolean label input[type='checkbox'] {
  margin: -1px 5px 0 0;
}
/* line 245, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form .boolean label input[type='radio'] {
  margin: 2px 5px 0 0;
}
@media only screen and (max-width: 480px) {
  /* line 253, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
  form ol > li label,
  form input[type='text'],
  form input[type='password'],
  form input[type='email'],
  form input[type='number'],
  form input[type='url'],
  form input[type='tel'],
  form input[type='date'],
  form textarea {
    display: block;
    float: none;
    width: 100%;
  }
  /* line 267, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
  form ol > li label {
    margin-bottom: 5px;
  }
  /* line 271, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
  form select,
  form input[type='file'],
  form .date_select fieldset ol,
  form .time_select fieldset ol,
  form .datetime_select fieldset ol,
  form .inline-hints,
  form .inline-errors {
    margin-left: 0;
    width: 100%;
  }
  /* line 282, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
  form .boolean label {
    padding-left: 0;
  }
}

/* line 290, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
.sidebar_section .boolean label,
.sidebar_section label {
  color: rgba(63, 63, 63, 0.75);
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding-left: 0;
  margin-bottom: 3px;
  text-transform: uppercase;
}
/* line 301, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
.sidebar_section select {
  margin-left: 0;
  width: 100%;
}
/* line 306, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
.sidebar_section input[type='text'],
.sidebar_section input[type='password'],
.sidebar_section input[type='email'],
.sidebar_section input[type='url'],
.sidebar_section input[type='tel'],
.sidebar_section textarea {
  font-size: 12px;
  padding: 2px 3px;
  width: 100%;
}

/* line 320, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .filter_form_field {
  padding: 10px 15px;
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
form.filter_form .filter_form_field:after {
  clear: both;
  content: '';
  display: table;
}
/* line 325, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .filter_form_field.select_and_search select,
form.filter_form .filter_form_field.select_and_search input[type='text'] {
  float: left;
  width: calc(50% - 5px);
}
/* line 331, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .filter_form_field.select_and_search input[type='text'] {
  float: right;
}
/* line 337, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .filter_form_field.filter_date_range .separator,
form.filter_form .filter_form_field.filter_date_range input[type='text'] {
  display: inline-block;
  float: none;
}
/* line 343, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .filter_form_field.filter_date_range .seperator {
  text-align: center;
}
/* line 347, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .filter_form_field.filter_date_range input[type='text'] {
  background-image: url(/assets/active_admin/datepicker/datepicker-input-icon-d9c2bb73769af777c8a71720d29741f3a499aebd5a043e9a119bd0d9597aed47.png);
  background-position: 100% 3px;
  background-repeat: no-repeat;
  padding-right: 25px;
  width: calc(50% - 9px);
}
/* line 356, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .filter_form_field + .filter_form_field {
  border-top: 1px solid #dedede;
}
/* line 361, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .buttons {
  border-top: 1px solid #cccccc;
  text-align: center;
  padding: 12px 15px;
}
/* line 366, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .buttons a.clear_filters_btn {
  margin-left: 5px;
}
/* line 370, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_form.scss */
form.filter_form .buttons input[type='submit'],
form.filter_form .buttons a.clear_filters_btn {
  padding: 5px 10px;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_grid.scss */
table.index_grid td {
  border: none;
  background: none;
  margin: 0;
  padding: 0 20px 20px 0;
}

/* line 8, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_grid.scss */
.columns {
  clear: both;
  margin-bottom: 10px;
  padding: 0;
}
/* line 13, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_grid.scss */
.columns img {
  max-width: 100%;
}
/* line 17, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_grid.scss */
.columns .column {
  float: left;
}

@media only screen and (max-width: 767px) {
  /* line 24, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_grid.scss */
  .columns .column {
    float: none;
    margin-right: 0 !important;
    width: 100% !important;
  }
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.resource_selection_toggle_panel {
  margin-bottom: 20px;
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
.resource_selection_toggle_panel:after {
  clear: both;
  content: '';
  display: table;
}
/* line 6, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.resource_selection_toggle_panel .resource_selection_toggle_cell {
  float: left;
  margin: 3px 5px 0 0;
}

/* line 14, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_blog .resource_selection_toggle_cell {
  margin-left: 15px;
}
/* line 18, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_blog .banner {
  overflow: hidden;
  position: relative;
}
/* line 23, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_blog .banner .resource_selection_cell {
  left: 15px;
  position: absolute;
  top: 13px;
}
/* line 29, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_blog .banner h3 {
  margin: 0;
  padding-left: 60px;
}
/* line 35, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_blog .banner .content {
  padding: 15px;
}
/* line 39, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_blog .banner .meta {
  border-top: 1px solid #cccccc;
  color: rgba(63, 63, 63, 0.5);
  font-size: 14px;
  margin-top: 15px;
  padding-top: 15px;
}
/* line 47, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_blog .banner + .banner {
  margin-top: 20px;
}

/* line 55, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_grid .banner {
  transition: transform 250ms;
}
/* line 58, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_grid .banner:hover {
  transform: scale(1.05);
}
/* line 62, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_indexes.scss */
.index_as_grid .banner img {
  border-radius: 4px;
  display: block;
}

/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_modal.scss */
.ui-widget-overlay {
  animation: fade-in 250ms;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1001;
}

/* line 15, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_modal.scss */
.ui-dialog {
  animation: scale-up 250ms 50ms forwards;
  opacity: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  transform-origin: center;
  z-index: 1002;
}
/* line 28, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_modal.scss */
.ui-dialog .ui-dialog-titlebar span {
  font-size: 18px;
}
/* line 33, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_modal.scss */
.ui-dialog ul {
  list-style-type: none;
}
/* line 37, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_modal.scss */
.ui-dialog li {
  margin: 10px 0;
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
.ui-dialog li:after {
  clear: both;
  content: '';
  display: table;
}
/* line 42, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_modal.scss */
.ui-dialog label {
  float: left;
  width: 20%;
}
/* line 47, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_modal.scss */
.ui-dialog form,
.ui-dialog .ui-dialog-buttonpane {
  padding: 8px 15px 12px;
  text-align: center;
}
/* line 58, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_modal.scss */
.ui-dialog .ui-dialog-buttonpane button + button {
  margin-left: 5px;
}

/* line 64, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_modal.scss */
.active_admin_dialog.ui-dialog .ui-dialog-titlebar-close {
  display: none;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.paginated_collection {
  margin-bottom: 20px;
}

/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
.paginated_collection_contents:after {
  clear: both;
  content: '';
  display: table;
}

/* line 9, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
#index_footer {
  margin-top: 20px;
}

/* line 13, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.pagination,
.pagination_information,
.pagination_per_page,
.download_links {
  font-size: 12px;
}

/* line 21, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.pagination_information {
  color: rgba(63, 63, 63, 0.75);
  float: right;
}
/* line 25, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.pagination_information b {
  color: #3f3f3f;
}

/* line 31, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.pagination_per_page {
  float: right;
  margin-left: 20px;
}
/* line 35, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.pagination_per_page select {
  padding: 1px 5px;
}

/* line 41, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.download_links {
  float: left;
}

/* line 46, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.pagination {
  font-weight: bold;
  margin: 0 0 -20px 20px;
  text-align: center;
  text-transform: uppercase;
}
/* line 52, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.pagination a,
.pagination .current {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0 0 #ffffff;
  display: inline-block;
  padding: 6px 10px 5px;
  text-decoration: none;
  transition: background-color 250ms;
  margin: 0 1px;
}
/* line 66, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.pagination a:not(.current):hover {
  background: #ffffff;
}
/* line 70, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
.pagination .current {
  background: #4d5256;
  border-color: #454a4d;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  /* line 80, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_pagination.scss */
  .pagination,
  .pagination_information,
  .pagination_per_page,
  .download_links {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
  }
}
/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_panel.scss */
.panel,
.sidebar_section {
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 7, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_panel.scss */
.panel h3,
.sidebar_section h3 {
  margin: 0;
}
/* line 12, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_panel.scss */
.panel hr,
.sidebar_section hr {
  border: none;
  border-bottom: 1px solid #cccccc;
}
/* line 17, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_panel.scss */
.panel > div,
.sidebar_section > div {
  padding: 15px;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_status-tag.scss */
.status_tag {
  background: #cccccc;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 3px 5px 2px 5px;
  text-transform: uppercase;
}
/* line 11, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_status-tag.scss */
.status_tag.ok, .status_tag.published, .status_tag.complete, .status_tag.completed, .status_tag.green {
  background: #04844b;
}
/* line 19, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_status-tag.scss */
.status_tag.error, .status_tag.errored, .status_tag.red {
  background: #a61a14;
}
/* line 25, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_status-tag.scss */
.status_tag.warn, .status_tag.warning, .status_tag.orange {
  background: #ffb75d;
}
/* line 31, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_status-tag.scss */
.status_tag.yes {
  background-color: #005fb2;
}
/* line 35, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_status-tag.scss */
.status_tag.no {
  background-color: #3f3f3f;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table {
  border-collapse: separate;
  width: 100%;
}

/* line 7, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table {
  background-color: #ffffff;
}
/* line 11, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table .centralized {
  text-align: center;
}
/* line 16, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}
/* line 20, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
/* line 25, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table th,
table.index_table td {
  padding: 12px 15px;
  text-align: left;
  vertical-align: middle;
}
/* line 31, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table th:last-child,
table.index_table td:last-child {
  border-right: none;
}
/* line 36, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table thead th {
  border: 1px solid #cccccc;
  border-width: 0 1px 1px 0;
  vertical-align: bottom;
}
/* line 42, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table thead th:first-child {
  border-top-left-radius: 4px;
}
/* line 46, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table thead th:last-child {
  border-top-right-radius: 4px;
}
/* line 50, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table thead th:only-child {
  border-radius: 4px 4px 0 0;
}
/* line 54, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table thead th.sortable a {
  background: url(/assets/active_admin/orderable-29374dbb55b0012d78a37c614d573bb3474f0779849b478a147d0f1845ca6617.png) 0 6px no-repeat;
  display: block;
  padding-left: 12px;
}
/* line 60, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table thead th.sorted-asc, table.index_table thead th.sorted-desc {
  background-color: #e6e6e6;
  background-image: linear-gradient(to bottom, #e6e6e6, #d9d9d9);
}
/* line 66, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table thead th.sorted-asc a {
  background-position: 0 -25px;
}
/* line 70, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table thead th.sorted-desc a {
  background-position: 0 -55px;
}
/* line 74, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table thead th a {
  text-decoration: none;
}
/* line 81, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table tbody tr:nth-child(even) td {
  background-color: #f9f9f9;
}
/* line 85, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table tbody tr:hover td {
  background-color: #f2f2f2;
}
/* line 89, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table tbody tr:last-child td {
  border-bottom: none;
}
/* line 93, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table tbody tr.selected td {
  background-color: #fff8ef;
}
/* line 98, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table tbody td {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-width: 0 1px 1px 0;
  transition: background 250ms;
}
/* line 106, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table .view_link,
table.index_table .edit_link,
table.index_table .delete_link {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 16px;
  margin: 0 5px;
  opacity: 0.75;
  position: relative;
  text-indent: -99999px;
  transition: opacity 250ms;
  width: 16px;
}
/* line 120, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table .view_link:hover,
table.index_table .edit_link:hover,
table.index_table .delete_link:hover {
  opacity: 1;
}
/* line 125, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table .delete_link {
  background-image: url(/assets/formadmin/trash-58e1917f7313d871f7f3bca5878889ad0d99986daf2dda9f2384f82776a0d719.svg);
}
/* line 129, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table .edit_link {
  background-image: url(/assets/formadmin/edit-7b6007fc0b1d2a1b527671427dbc40d69a708f304007945874f505fb87074197.svg);
}
/* line 133, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
table.index_table .view_link {
  background-image: url(/assets/formadmin/view-2891a7851b94c538fbafb46597b49e3a7d01e44d16e88e6b8faa535ab8056d85.svg);
}
@media only screen and (max-width: 768px) {
  /* line 7, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
  table.index_table {
    overflow: hidden;
  }
  /* line 141, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
  table.index_table,
  table.index_table tr,
  table.index_table th,
  table.index_table td,
  table.index_table thead,
  table.index_table tbody {
    display: block;
    text-align: left !important;
    width: 100% !important;
  }
  /* line 152, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
  table.index_table tr {
    padding: 20px;
  }
  /* line 156, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
  table.index_table th,
  table.index_table td {
    background: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 5px 0 !important;
  }
  /* line 163, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
  table.index_table th:empty,
  table.index_table td:empty {
    display: none;
  }
  /* line 168, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
  table.index_table tbody tr {
    border-top: 1px solid #cccccc;
  }
}

/* line 175, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
.attributes_table,
.panel_contents {
  overflow: hidden;
}
/* line 179, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
.attributes_table table,
.panel_contents table {
  width: 100%;
}
/* line 183, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
.attributes_table th,
.attributes_table td,
.panel_contents th,
.panel_contents td {
  padding: 8px 0;
  text-align: left;
}
/* line 189, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
.attributes_table th,
.panel_contents th {
  width: 200px;
}
/* line 194, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
.attributes_table tr + tr th,
.attributes_table tr + tr td,
.panel_contents tr + tr th,
.panel_contents tr + tr td {
  border-top: 1px solid #e6e6e6;
}
/* line 200, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
.attributes_table .empty,
.panel_contents .empty {
  font-size: 12px;
  opacity: 0.5;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  /* line 208, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
  .attributes_table th,
  .attributes_table td,
  .panel_contents th,
  .panel_contents td {
    display: block;
    padding: 0 0 5px;
    width: 100%;
  }
  /* line 216, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
  .attributes_table tr + tr th,
  .panel_contents tr + tr th {
    padding: 20px 0 5px;
  }
  /* line 220, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_table.scss */
  .attributes_table tr + tr td,
  .panel_contents tr + tr td {
    border-top: 0;
  }
}

/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tabs.scss */
.tabs .nav-tabs {
  border: 1px solid #cccccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 6px 15px 0;
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
.tabs .nav-tabs:after {
  clear: both;
  content: '';
  display: table;
}
/* line 11, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tabs.scss */
.tabs .nav-tabs li {
  float: left;
  padding: 9px 16px;
  transition: background-color 250ms;
}
/* line 16, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tabs.scss */
.tabs .nav-tabs li:not(:first-of-type):not(.ui-tabs-active) {
  border-left: 1px solid rgba(204, 204, 204, 0.5);
}
/* line 20, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tabs.scss */
.tabs .nav-tabs li.ui-tabs-active {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  border-bottom-width: 0;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 9px 15px;
}
/* line 30, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tabs.scss */
.tabs .nav-tabs li a {
  outline: none;
  text-decoration: none;
}
/* line 37, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tabs.scss */
.tabs .ui-tabs-panel > fieldset.inputs {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools {
  margin-bottom: 20px;
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
.table_tools:after {
  clear: both;
  content: '';
  display: table;
}
/* line 5, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .dropdown_menu {
  margin-right: 20px;
  float: left;
}
/* line 11, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .scopes {
  float: left !important;
  width: auto !important;
}
/* line 16, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .scopes {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/core/_mixins.scss */
.table_tools .scopes:after {
  clear: both;
  content: '';
  display: table;
}
/* line 30, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .scope {
  float: left;
  font-weight: bold;
  text-align: center;
}
/* line 35, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .scope.selected a {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #f2f2f2, #ffffff);
  color: #000000;
}
/* line 40, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .scope.selected a .count {
  opacity: 0.75;
}
/* line 45, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .scope a {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  box-shadow: inset 0 1px 0 0 #ffffff;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}
/* line 54, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .scope:not(.selected) a:hover {
  background: #ffffff;
}
/* line 58, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .scope .count {
  font-weight: normal;
  letter-spacing: -1px;
  opacity: 0.5;
}
/* line 64, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
.table_tools .scope + .scope {
  border-left: 1px solid #cccccc;
}
@media only screen and (max-width: 480px) {
  /* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
  .table_tools {
    margin-bottom: 20px;
    text-align: center;
  }
  /* line 74, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
  .table_tools .batch_actions_selector,
  .table_tools .scopes {
    float: none;
    margin: 0 0 20px;
  }
  /* line 80, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
  .table_tools .scopes,
  .table_tools .scope {
    float: none !important;
    width: 100% !important;
  }
  /* line 86, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_tools.scss */
  .table_tools .scope + .scope {
    border-top: 1px solid #cccccc;
    border-left: 0;
  }
}

/* line 1, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_unsupported_browser.scss */
.unsupported_browser {
  padding: 10px 30px;
  background-color: #fff8ef;
  background-image: linear-gradient(to bottom, #fff8ef, #fff1df);
  border-bottom: 3px solid #ffb75d;
  margin: 50px 0 -50px;
  text-align: center;
}
/* line 9, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/components/_unsupported_browser.scss */
.unsupported_browser h1 {
  font-weight: bold;
}

/* line 2, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
body.logged_out #active_admin_content {
  padding: 0 0 20px;
  overflow: hidden;
}
/* line 8, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
body.logged_out #content_wrapper {
  margin: 70px auto;
  padding: 0;
  max-width: 500px;
  width: 100%;
}
/* line 15, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
body.logged_out h2 {
  margin: 0;
  padding: 15px;
}
/* line 21, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
body.logged_out fieldset {
  border: 0;
  margin: 0;
}
/* line 26, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
body.logged_out .inputs {
  margin-bottom: 20px;
}
/* line 30, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
body.logged_out .actions {
  float: left;
  margin-left: 20px;
}
/* line 35, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
body.logged_out #login a {
  font-size: 80%;
  float: right;
  margin-right: 20px;
}
/* line 41, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
body.logged_out .flash {
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  /* line 49, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
  body.logged_out #wrapper {
    padding: 15px;
  }
  /* line 53, /home/panhara/.rvm/gems/ruby-2.4.0/gems/formadmin-0.1.6/app/assets/stylesheets/formadmin/pages/_logged-out.scss */
  body.logged_out #content_wrapper {
    margin: 0 auto;
    max-width: 450px;
  }
}
