<% title @portfolio.title %>
<% meta_description @portfolio.description%>
<header class="header">
 <nav id="menu" class="navbar navbar-default">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="/"> <img id="logo_img" src="/logo.png" alt=""> </a>
   </div>
   <div class="collapse navbar-collapse navbar-ex1-collapse">
     <ul class="nav navbar-nav navbar-right">
         <li><a href="/">Home</a></li>
         <li><a href="/blogs">Blog </a></li>
         <li class="active"><a href="/portfolios">Portfolio</a></li>
     </ul>
  </div>
</nav>
</header>

<%=render "shared/singleportfolio/intro"%>
<%=render "shared/singleportfolio/singleportfolio"%>
