<section id="blog" class="blog white-bg page-section">
 <div class="container-fluid">
   <div class="row">
	<div class="col-lg-12 col-md-12">
	 <div class="section-title">
   	 	 <div class="section-title-name">
   	 	  	<span>My Latest Blog Posts</span>
   	  	  	<h2><%=link_to("From the blog","/blogs",:style=>"color:black;")%> </h2>
   	    </div>
   	    <div class="title-name-gray">
   	   	<strong>Blog</strong>
   	   </div>
   	 </div>
	</div>
   </div>
 <div class="row">
   <%@blogs.each do |blog|%>
  <div class="col-lg-3 col-md-6 col-sm-6">
   <div class="blog-block">
   	  <div class="blog-image">
   	  	 <img class="img-responsive" src="<%=blog.image%>" alt="">
   	  	 <div class="blog-date">
   	  	 	<span><%=blog.post_date%></span>
   	  	 </div>
   	  </div>
   	  <div class="blog-info">
   	  	<div class="blog-meta">
   	  		<p><span class="ti-user"></span> <a href="#"><%=blog.author%> </a></p>
   	  		<p><span class="ti-folder"></span><%=link_to blog.categoryblog.categoryname,blog.categoryblog%></p>
   	  	</div>
   	  	<div class="blog-content">
   	  		  <%=link_to blog.title,blog%>
   	  		<p><%=raw blog.description.truncate(250)%></p>
   	  		<div class="blog-bottom clearfix">
   	  		 <div class="button-small">
   	  			<a href="#">Read More..</a>
   	  			</div>
   	  		<div class="social pull-right">
   	  			<ul>
		          <li><a href="https://www.facebook.com/profile.php?id=100008498198686"><i class="fa fa-facebook"></i> </a></li>
		          <li><a href="https://twitter.com/PanharaTuarus"><i class="fa fa-twitter"></i></a></li>
		          <li><a href="https://www.linkedin.com/in/chhouk-titpanhara-8b5a00124/"><i class="fa fa-linkedin"></i> </a></li>
		   	  	</ul>
   	  		</div>
   	  	 </div>
   	  	</div>
   	  </div>
   </div>
  </div>
  <%end%>
 </div>
 </div>
</section>
