
<section id="service" class="services white-bg page-section">
 <div class="container-fluid">
   <div class="row">
  	<div class="col-lg-12 col-md-12">
  	 <div class="section-title">
     	 	 <div class="section-title-name">
     	 	  	<span>What i can do better</span>
     	  	  	<h2>Services</h2>
     	    </div>
     	    <div class="title-name-gray">
     	   	<strong>Services</strong>
     	   </div>
     	 </div>
  	</div>
  </div>

   <div class="row">
    <%@services.each do |service|%>
      <div class="col-lg-3 col-md-6 col-sm-6">
       <div class="service-block">
        <span class="ti-desktop"></span>
        <h2><%=service.servicename%></h2>
        <p><%=truncate(strip_tags(service.description),length: 160, separate: ' ')%></p>
        <div class="contact-button">
          <a class="clearfix" href=""> <span class="pull-left">Hi! I'm Panhara</span> <span class="ti-arrow-circle-right pull-right"></span></a>
         </div>
       </div>
      </div>
    <%end%>
   </div>
 </div>
</section>
