
<section id="skill" class="my-skill white-bg page-section">
 <div class="container-fluid">
   <div class="row">
	<div class="col-lg-12 col-md-12">
	 <div class="section-title">
   	 	 <div class="section-title-name">
   	 	  	<span>I am good at</span>
   	  	  	<h2>My Skill</h2>
   	    </div>
   	    <div class="title-name-gray">
   	   	<strong>My Skill</strong>
   	   </div>
   	 </div>
	</div>
   </div>

   <div class="row">
    <%@skills.each do |skill|%>
  	<div class="col-lg-6 col-md-6 col-sm-6">
   	 <div class="skill-content">
   		<h2><%=skill.title%></h2>
   		<span>“<%=skill.poem%>”</span>
   		<p><%=raw(skill.description)%></p>
   	 </div>
    </div>
    <%end%>
    <div class="col-lg-6 col-md-6 col-sm-6">

 	 <div class="skill">
             <ul>
               <%@skillprogressbars.each do |progressbar|%>
               <li><%=progressbar.skillname%>
                 <div class="bar_container">
                  <span class="bar" data-bar='{ "color": "#07cb79" }'>
                    <span class="pct"><%=progressbar.progressbar%>%</span>
                  </span>
                </div>
              </li>
              <%end%>
          </ul>

          <div class="skill-chart">
          	<div class="skill-chart-expand clearfix">
               <div class="expand expand-left">
                   <p>Newbie</p>
                </div>
                <div class="expand expand-left">
                  <p>Decent</p>
                 </div>
                 <div class="expand expand-right">
                   <p>Pretty Good</p>
                 </div>
                 <div class="expand expand-right">
                   <p>Master</p>
                 </div>
               </div>
          </div>
         </div>
 	   </div>
   </div>

 <div class="language-skills">
   <div class="row">
   	 <div class="col-lg-12 col-md-12">
       <%@sectionlanguage.each do |section|%>
   	 	<h2><%=section.title%></h2>
      <p><%=section.description%></p>
      <%end%>
      </div>
   </div>

    <div class="row">
      <%@skilllanguages.each do |progressbar|%>
        <div class="col-lg-3 col-md-3 col-sm-3">
         <div class="chart-bar">
            <div class="chart" data-percent="<%=progressbar.progressbar%>">
                 <span class="percent"></span>
             </div>
               <h3><%=progressbar.skillname%></h3>
              </div>
         </div>
      <%end%>
     </div>

   <div class="knowledge">
   <div class="row">
   	 <div class="col-lg-12 col-md-12">
      <%@sectionknowlegde.each do |section|%>
     	 	<h2><%=section.title%></h2>
     	 	<p><%=section.description%></p>
      <%end%>
     </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <ul>
          <li><span class="ti-hand-point-right"></span> Web design and development</li>
          <li><span class="ti-hand-point-right"></span> Multimedia design</li>
          <li><span class="ti-hand-point-right"></span> Digital media development</li>
          <li><span class="ti-hand-point-right"></span> Interactive computing</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <ul>
          <li><span class="ti-hand-point-right"></span> Strong creative skills</li>
          <li><span class="ti-hand-point-right"></span> The ability to pay attention to detail</li>
          <li><span class="ti-hand-point-right"></span> Ability to work to deadlines</li>
          <li><span class="ti-hand-point-right"></span> Comfortable with a CMS</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
      <ul>
        <li><span class="ti-hand-point-right"></span> Cultivate a design sense</li>
        <li><span class="ti-hand-point-right"></span> Right balance of tools </li>
        <li><span class="ti-hand-point-right"></span> Approach every new skill</li>
        <li><span class="ti-hand-point-right"></span> Good business management</li>
      </ul>
    </div>
  </div>
 </div>
 </div>
 </div>
</section>
