
<%@searchengines.limit(1).each do |search|%>
  <% title search.title%>
  <%meta_description strip_tags(search.description)%>
<%end%>

<!--=================================
  loading -->
<!--=================================
  loading -->
<!--=================================
  header -->
  <%=render "shared/headerfooter/navigationbar"%>
<!--=================================
  header -->
<!--=================================
  intro -->
<%=render "shared/intro"%>
<!--=================================
  intro -->
<!--=================================
  about -->
  <%=render "shared/about"%>
<!--=================================
  about -->
<!--=================================
  services -->
<!--=================================
  services -->
<%=render "shared/service"%>
<!--=================================
  Resume -->
<%=render "shared/resume"%>
<!--=================================
  Resume -->
<!--=================================
  My Skill -->
<%=render "shared/skill"%>
<!--=================================
  My Skill -->
<!--=================================
 portfolio -->
<%=render "shared/portfolio"%>

<!--=================================
 portfolio -->
<!--=================================
 calendar -->
<%=render "shared/calender"%>
<!--=================================
 calendar -->
<!--=================================
 blog -->
<%=render "shared/blog"%>
<!--=================================
 blog -->
<%=render "shared/testimonials"%>

<!--=================================
 calendar -->


<!--=================================
 contact -->


<!--=================================
 contact -->

<!--=================================
 color customizer -->

 <div class="style-customizer closed">
  <div class="buy-button"> <a class="opener" href="#"><i class="fa fa-cog fa-spin"></i></a>  </div>
  <div class="clearfix content-chooser">
      <h3>Say Something Here</h3>
  </div>
</div>

 <!--=================================
 color customizer -->


<!--=================================
 javascript -->

<!-- jquery -->


<!-- modernizr -->


<!-- Plugins -->
