
<%=render "shared/blog/header"%>

  <div class="page-header bg gradient-01">
      <div class="container-fluid">
      <div class="row">
        <div class="top-bar clearfix">
          <div class="back-home pull-left">
            <a href="/blogs"><span class="ti-angle-left"></span> back to blog</a>
          </div>
          <ul class="breadcrumb pull-right">
            <li><a href="/"><span class="ti-home"></span> Home</a></li>
            <li class="active">Category <%=@categoryblog.categoryname%></li>
          </ul>
        </div>
        <div class="page-header-title">
           <h1>Category <%=@categoryblog.categoryname%></h1>
        </div>
       </div>
    </div>
  </div>

<%=render "shared/categoryblog/categoryblog"%><% provide(:title, @categoryblog.categoryname) %>
