/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
  *= require font-awesome
  */

  .image-cover {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 4px;
  }

  .image-hover-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  .hover-fade-in p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 28px;
    opacity: 0;
    transition: all 0.2s linear;
   }

  .hover-fade-in img {
    transition: all 0.2s linear;
  }

  .hover-fade-in
  .image-hover-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
   }

  .hover-fade-in h2 {
  	font-size: 1.8rem;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 20%;
    color: #000;
  	font-weight: bold;
  	font-family: Montserrat;
  }

  .hover-fade-in
  .button {
  	display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #3498db;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border-radius: 7px;
   }

    .hover-fade-in
  	.button:hover {
        background-color: #444;
  	 }

  .hover-fade-in:hover
  .image-hover-content {
    opacity: 1;
  }

  .hover-fade-in:hover h2,
  .hover-fade-in p,
  .hover-fade-in .button {
    opacity: 1;
   }

  .hover-fade-in:hover p {
    transition-delay: 0.1s;
  }

  .hover-fade-in:hover
  .button {
    transition-delay: 0.2s;
   }

  .hover-slide-in-left img {
    transition: all 0.3s ease-in-out;
  }

  .hover-slide-in-left
  .image-hover-content {
    background-image: url(../images/background.svg);
  	background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(-110%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 7px #ccc;
  }

  .hover-slide-in-left h2 {
    font-size: 1.8rem;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 20%;
    color: #000;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  	font-weight: bold;
  	font-family: Montserrat;
   }

  .hover-slide-in-left p {
    opacity: 0;
    color: #333;
    transition: all 0.2s linear;
  }

  .hover-slide-in-left .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #3498db;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border-radius: 7px;
  }

    .hover-slide-in-left
  	.button:hover {
      background-color: #444;
  	}

  .hover-slide-in-left:hover
  .image-hover-content {
    transform: translateX(0px);
  }

  .hover-slide-in-left:hover img {
    transform: translateX(80%);
    transition-delay: 0.1s;
  }

  .hover-slide-in-left:hover p {
    opacity: 1;
    transition-delay: 0.4s;
  }


  .hover-fade-in-new-background
  .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #3498db;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    position: relative;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .hover-fade-in-new-background
  .button:hover {
      box-shadow: 0 0 5px #fff;
      background-color: #222;
  }

  .hover-fade-in-new-background p {
    font-size: 28px;
  }

  .hover-fade-in-new-background
  .image-hover-content {
    opacity: 0;
    background-image: url(../images/background.svg);
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease-in-out;
  }

  .hover-fade-in-new-background h2 {
  	font-size: 1.8rem;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 20%;
    color: #000;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  	font-weight: bold;
  	font-family: Montserrat;
  }

  .hover-fade-in-new-background p {
    opacity: 0;
    transition: all 0.2s linear;
  }

  .hover-fade-in-new-background img {
    transition: all 0.2s ease-in-out;
  }

  .hover-fade-in-new-background:hover img {
    filter: gray;
    -webkit-filter: grayscale(100%);
    transform: scale(1.5);
  }

  .hover-fade-in-new-background:hover
  .image-hover-content {
    opacity: 1;
  }

  .hover-fade-in-new-background:hover h2,
  .hover-fade-in-new-background p,
  .hover-fade-in-new-background .button {
    opacity: 1;
  }

  .hover-fade-in-new-background:hover p {
    transition-delay: 0.1s;
  }

  .hover-fade-in-new-background:hover .button {
    transition-delay: 0.2s;
  }
