<div class="page-header bg gradient-01">
    <div class="container-fluid">
    <div class="row">
      <div class="top-bar clearfix">
        <div class="back-home pull-left">
          <a href="/blogs"><span class="ti-angle-left"></span> back to blog</a>
        </div>
        <ul class="breadcrumb pull-right">
          <li><a href="/"><span class="ti-home"></span> Home</a></li>
          <li><a href="/blogs"> Blog</a></li>
          <li class="active">Blog single</li>
        </ul>
      </div>
      <div class="page-header-title">
         <h1><%=@blog.title%></h1>
          <div class="blog-meta">
            <p><span class="ti-user"></span> <a href=""><%=@blog.author%></a></p>
            <p><span class="ti-folder"></span>  <%=link_to @blog.categoryblog.categoryname,@blog.categoryblog%></a></p>

          </div>
      </div>
     </div>
  </div>
</div>
