
<section class="blog blog-single white-bg page-section-pt">

  <div class="container-fluid">
   <div class="row">
     <div class="col-lg-9 col-md-9">

       <div class="owl-carousel-1">
         <div class="item"> <img src="<%=@blog.image%>" alt=""> </div>
         <%@bl.each do |b|%>
         <div class="item"> <img src="<%=b.image%>" alt=""> </div>
         <%end%>
       </div>

     <div class="content">
       <blockquote>
         <p><%=raw @blog.description%>
        <br /><span>- <%=@blog.author%></span></p>
       </blockquote>

      </div>

      <div class="contact-form clearfix">
       <h3>Comment Here </h3>
          <%=render "shared/single/disqus"%>
      </div>

       </div>
     <div class="col-lg-3 col-md-3">

       <div class="slidebar">

          <div class="slidebar-link">
            <h3>Categories</h3>
            <ul>
              <%@categoryblogs.each do |cate|%>
              <li><%=link_to cate.categoryname,cate%></li>
              <%end%>
            </ul>
          </div>

          <div class="slidebar-post">
            <h3>Latest Posts</h3>
            <%@blogs.each do |blog|%>
            <div class="post">

              <%=link_to blog.title, blog%>
              <span><%=blog.post_date%> </span>
            </div>
            <%end%>
           </div>


       </div>
    </div>

  </div>
 </div>
</section>
